@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* General container styling */


.toggle-button,
.calibrate-button,
.measure-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover,
.calibrate-button:hover,
.measure-button:hover {
  background-color: #0056b3;
}

.image-preview-container img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.response-message {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
}

/* styles.css */

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  position: relative;
  text-align: center;
}

.webcam-frame {
  position: relative;
  display: inline-block;
}

.overlay-frame {
  position: absolute;
  border: 4px solid #00FF00; /* Bright green border */
  border-radius: 5px;
  width: 35vw; /* 35% of the viewport width */
  height: calc(35vw * 1.8); /* Maintain the aspect ratio */
  max-width: 80%; /* Ensure it doesn't get too large on wider screens */
  max-height: 80%; /* Ensure it doesn't overflow on smaller screens */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  pointer-events: none;
  aria-hidden: true;
}

